body * {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

.container {
    margin: auto;
}

.container {
    width: 570px;
}

#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(136, 91, 91);
    border-radius: 10px;
    padding: 10px;
}

#keyboard > div {
    display: flex;
    justify-content: space-between;
}

#keyboard > div:not(:last-child) {
    margin-bottom: 5px;

}

.key, .specialKey {
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid black;
}


.key, #tab {
    width: 40px;
    height: 40px;
}

.shift {
    width: 55px;
}

#capslock {
    width: 70px;
}

.keydown {
    font-weight: 800;
    color: #fff;
    background-color: rgb(201, 77, 77);
}

#space {
    width: 100%;
    height: 40px;
}

#result {
    resize: none;
    width: 570px;
    height: 100px;
}


